#MacOS X
*.DS_Store

#Terraform
*.tfstate*
*.terraform
*.tfvars
credentials.json
TSISOMEID*

#Ansible
*vendor*
*/tmp/*
*.retry

*.log
volumes_mapping.json
*inventory*

#Various
test_cluster_deployment.sh
destroy_test_clusters.sh
